<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">

    <!-- Meta -->
    <title>{{ page.meta-title }}</title>
    <meta name="description" content="{{ page.meta-desc }}">
    <link rel="canonical" href="{{ site.url }}{{ page.url | remove: '.html' }}"/>
    <link rel="author" href="https://github.com/atais"/>

    <!-- Faceboook meta -->
    <meta property="og:title" content="{{ page.meta-title }}">
    <meta property="og:description" content="{{ page.meta-desc }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url | remove: '.html' }}">
    {% if page.hero %}
    <meta property="og:image" content="{{ site.url }}/img/hero/orig/{{ page.hero }}">
    {% else %}
    <meta property="og:image" content="{{ site.url }}/img/hero/orig/shutterstock_208347706.jpg">
    {% endif %}
    <meta property="og:locale" content="pl_PL">
    <meta property="og:type" content="website"/>

    <!-- Twitter meta -->
    <meta name="twitter:title" content="{{ page.meta-title }}"/>
    <meta name="twitter:description" content="{{ page.meta-desc }}"/>
    {% if page.hero %}
    <meta property="twitter:image" content="{{ site.url }}/img/hero/orig/{{ page.hero }}">
    {% else %}
    <meta property="twitter:image" content="{{ site.url }}/img/hero/orig/shutterstock_208347706.jpg">
    {% endif %}
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@polskilogopeda">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/assets/main.css">

    <!-- Google Maps -->
    <!-- http://gmap3.net/configuration.html -->
    <!-- https://github.com/jbdemonte/gmap3/issues/157 -->
    <script src="https://maps.google.com/maps/api/js?v=3.53.13&amp;key=AIzaSyAMJAcHJ5guuewluHOFjymc6DGuIPiDF1I"
            type="text/javascript"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NT90K1G8R4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-NT90K1G8R4');
    </script>
</head>