<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">

    <!-- Meta -->
    <title>{{ page.meta-title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ site.url }}"/>
    <link rel="author" href="https://github.com/atais"/>

    <!-- Faceboook meta -->
    <meta property="og:title" content="{{ page.meta-title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:url" content="{{ site.url }}">
    {% if page.hero %}
    <meta property="og:image" content="{{ site.url }}/img/hero/orig/{{ page.hero }}">
    {% else %}
    <meta property="og:image" content="{{ site.url }}/img/hero/orig/shutterstock_208347706.jpg">
    {% endif %}
    <meta property="og:locale" content="pl_PL">

    <!-- Twitter meta -->
    <meta name="twitter:title" content="{{ page.meta-title }}"/>
    <meta name="twitter:description" content="{{ site.description }}"/>
    {% if page.hero %}
    <meta property="twitter:image" content="{{ site.url }}/img/hero/orig/{{ page.hero }}">
    {% else %}
    <meta property="twitter:image" content="{{ site.url }}/img/hero/orig/shutterstock_208347706.jpg">
    {% endif %}
    <meta name="twitter:card" content="summary"/>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/assets/main.css">

    <!-- Google Maps -->
    <!-- http://gmap3.net/configuration.html -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMJAcHJ5guuewluHOFjymc6DGuIPiDF1I"
            type="text/javascript"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103802854-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-103802854-2');
    </script>
</head>