<!-- Start Nav -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3
            {{ include.nav-name }}
            {%if include.nav-name != 'mainNav' %}navbar-scrolled{% endif %}"
     id="appNavbar">

    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/img/logo.png" width="30" height="30" class="d-inline-block align-top"
                 alt="Logo PolskiLogopeda">
            Polski Logopeda
        </a>

        <button class="navbar-toggler navbar-toggler-right"
                type="button"
                data-toggle="collapse"
                data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">

                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {%if include.active == 'zajecia' %}active{% endif %}"
                       href="#" id="servicesDropdown"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Zajęcia
                    </a>
                    <div class="dropdown-menu" aria-labelledby="servicesDropdown">
                        <a class="dropdown-item" href="/zajecia/logopeda-lodz">W gabinecie</a>
                        <a class="dropdown-item" href="/zajecia/logopeda-online">Online</a>
                        <a class="dropdown-item" href="/zajecia/logopeda-z-dojazdem">Z dojazdem</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {%if include.active == 'oferta' %}active{% endif %}"
                       href="#" id="offerDropdown"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Oferta
                    </a>
                    <div class="dropdown-menu" aria-labelledby="offerDropdown">
                        <a class="dropdown-item" href="/oferta/logopeda-dla-doroslych">Dla dorosłych</a>
                        <a class="dropdown-item" href="/oferta/logopeda-dla-mlodziezy">Dla młodzieży</a>
                        <a class="dropdown-item" href="/oferta/logopeda-dla-dzieci">Dla dzieci</a>
                        <a class="dropdown-item" href="/oferta/logopedia-medialna">Logopedia medialna</a>
                        <a class="dropdown-item" href="/oferta/rozumienie-poezji-i-prozy">Rozumienie poezji i prozy</a>
                        <a class="dropdown-item" href="/oferta/przygotowanie-do-szkoly-aktorskiej">Przygotowanie do
                            szkoły aktorskiej</a>
                        <a class="dropdown-item" href="/oferta/zajecia-dla-polakow-mieszkajacych-za-granica">Dla Polaków
                            mieszkających za granicą</a>
                        <a class="dropdown-item" href="/oferta/logopeda-zajecia-grupowe">Zajęcia grupowe</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/o-mnie">O mnie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cennik">Cennik</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/kontakt">Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Nav -->