{% include offer.html
url="/zajecia/logopeda-lodz"
title="Logopeda Łódź - Gabinet"
image="shutterstock_1617508468.jpg"
text="
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis mi at elit dictum vestibulum.
    In posuere mi nec efficitur ultricies. Sed tincidunt, felis vel pharetra tincidunt, quam ex gravida lorem,
    sed congue odio libero vitae ex. </p>
"
%}


{% include offer.html
url="/zajecia/logopeda-online"
title="Logopeda Online"
image="shutterstock_275489732.jpg"
text="
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis mi at elit dictum vestibulum.
    In posuere mi nec efficitur ultricies. Sed tincidunt, felis vel pharetra tincidunt, quam ex gravida lorem,
    sed congue odio libero vitae ex. </p>
"
%}


{% include offer.html
url="/zajecia/logopeda-z-dojazdem"
title="Logopeda z dojazdem"
image="shutterstock_125020304.jpg"
text="
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis mi at elit dictum vestibulum.
    In posuere mi nec efficitur ultricies. Sed tincidunt, felis vel pharetra tincidunt, quam ex gravida lorem,
    sed congue odio libero vitae ex. </p>
"
%}