{% include offer.html
url="/zajecia/logopeda-warszawa"
title="Gabinet Logopeda Warszawa"
image="shutterstock_1617508468.jpg"
text="
<p>Spotkania z logopedą w gabinecie to podstawowa forma prowadzonej terapii.
    Staramy się je prowadzić w możliwie najatrakcyjniejszy i efektywny sposób.
    Do tego celu wykorzystujemy różnego rodzaju pomoce dostosowane do wieku,
    potrzeb i możliwości klienta.
</p>
"
%}


{% include offer.html
url="/zajecia/logopeda-online"
title="Logopeda Online"
image="shutterstock_275489732.jpg"
text="
<p>To nowa forma spotkań, którą charakteryzuje wysoka dostępność i duża
    elastyczność czasowa. Spotkania są prowadzone przez programy:
<ul>
    <li>Skype</li>
    <li>Zoom</li>
    <li>Facebook Messenger</li>
</ul>
</p>
"
%}


{% include offer.html
url="/zajecia/logopeda-z-dojazdem"
title="Logopeda z dojazdem"
image="shutterstock_125020304.jpg"
text="
<p>Na życzenie klienta oferujemy również spotkania z logopedą, który
    dojedzie we wskazane przez Państwa miejsce. Staramy się, by zajęcia prowadzone
    poza gabinetem nie odbiegały poziomem od tych prowadzonych stacjonarnie.
</p>
"
%}