<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-4 col-sm-6"><a class="portfolio-box"
                                              href="/img/portfolio/fullsize/dreamstime_19080961.jpg"><img
                    class="img-fluid" src="/img/portfolio/thumbnails/dreamstime_19080961.jpg" alt="">
                <div class="portfolio-box-caption">
                    <div class="project-category text-white-50">Category</div>
                    <div class="project-name">Project Name</div>
                </div>
            </a></div>
            <div class="col-lg-4 col-sm-6"><a class="portfolio-box"
                                              href="/img/portfolio/fullsize/dreamstime_56749443.jpg"><img
                    class="img-fluid" src="/img/portfolio/thumbnails/dreamstime_56749443.jpg" alt="">
                <div class="portfolio-box-caption">
                    <div class="project-category text-white-50">Category</div>
                    <div class="project-name">Project Name</div>
                </div>
            </a></div>
            <div class="col-lg-4 col-sm-6"><a class="portfolio-box"
                                              href="/img/portfolio/fullsize/dreamstime_75973715.jpg"><img
                    class="img-fluid" src="/img/portfolio/thumbnails/dreamstime_75973715.jpg" alt="">
                <div class="portfolio-box-caption">
                    <div class="project-category text-white-50">Category</div>
                    <div class="project-name">Project Name</div>
                </div>
            </a></div>
            <div class="col-lg-4 col-sm-6"><a class="portfolio-box"
                                              href="/img/portfolio/fullsize/dreamstime_78648654.jpg"><img
                    class="img-fluid" src="/img/portfolio/thumbnails/dreamstime_78648654.jpg" alt="">
                <div class="portfolio-box-caption">
                    <div class="project-category text-white-50">Category</div>
                    <div class="project-name">Project Name</div>
                </div>
            </a></div>
            <div class="col-lg-4 col-sm-6"><a class="portfolio-box"
                                              href="/img/portfolio/fullsize/shutterstock_275489732.jpg"><img
                    class="img-fluid" src="/img/portfolio/thumbnails/shutterstock_275489732.jpg" alt="">
                <div class="portfolio-box-caption">
                    <div class="project-category text-white-50">Category</div>
                    <div class="project-name">Project Name</div>
                </div>
            </a></div>
            <div class="col-lg-4 col-sm-6"><a class="portfolio-box"
                                              href="/img/portfolio/fullsize/shutterstock_712952062.jpg"><img
                    class="img-fluid" src="/img/portfolio/thumbnails/shutterstock_712952062.jpg" alt="">
                <div class="portfolio-box-caption p-3">
                    <div class="project-category text-white-50">Category</div>
                    <div class="project-name">Project Name</div>
                </div>
            </a></div>
        </div>
    </div>
</div>