<div class="col-lg-3 col-md-6 text-center mt-3 px-1">
    <div class="offer-card">
        <a href="{{ include.url | relative_url }}">
            <div class="offer p-3">
                <i class="fas fa-4x {{include.icon}} icon"></i>
                <h3 class="h4 my-3">
                    {{ include.title }}
                </h3>
                <div class="font-weight-light text-left">
                    {{ include.text }}
                </div>
                <div class="mt-2 read-more text-muted text-right">
                    <small>
                        <i class="fas fa-external-link-alt icon"></i>
                        <span>Czytaj więcej...</span>
                    </small>
                </div>
            </div>
        </a>
    </div>
</div>