{% include service.html
title="Dla dorosłych"
icon="fa-user"
url="/oferta/logopeda-dla-doroslych"
text="
<p>Szkolimy osoby dorosłe w zakresie:</p>
<ul>
    <li>poprawnej artykulacji</li>
    <li>emisji głosu i prawidłowego oddechu</li>
    <li>radzenia sobie ze stresem podczas wystąpień publicznych</li>
    <li>sztuki prezentacji</li>
</ul>
"
%}

{% include service.html
title="Dla młodzieży"
icon="fa-comments"
url="/oferta/logopeda-dla-mlodziezy"
text="
<p>Pracujemy z młodzieżą:</p>
<ul>
    <li>nad przygotowaniem do egzaminów do szkoły filmowej i teatralnej</li>
    <li>nad interpretacją i rozumieniem tekstów z poezji i prozy</li>
    <li>nad autoprezentacją</li>
    <li>z wadami wymowy</li>
</ul>
"
%}

{% include service.html
title="Dla dzieci"
icon="fa-child"
url="/oferta/logopeda-dla-dzieci"
text="
<p>Przeprowadzamy diagnozę logopedyczną, w&nbsp;efekcie której możliwe jest ustalenie poziomu
    rozwoju mowy dziecka. Badanie obejmuje takie umiejętności jak:</p>
<ul>
    <li>rozumienie mowy</li>
    <li>zasób słownictwa</li>
    <li>stosowanie form gramatycznych</li>
</ul>
"
%}

{% include service.html
title="Logopedia medialna"
icon="fa-tv"
url="/oferta/logopedia-medialna"
text-style="text-justify"
text="
<p>
    To dział logopedii zajmujący się szkoleniem w zakresie poprawnej wymowy i emisji głosu.
    Oferta skierowana do osób, których głos i dykcja stanowią podstawę warsztatu
    pracy związanego np. z różnego rodzaju wystąpieniami publicznymi.
    Dotyczy przede wszystkim: nauczycieli, wykładowców,
    dziennikarzy, prawników,
    prezenterów, lektorów itp.
</p>
"
%}

{% include service.html
title="Rozumienie poezji i prozy"
icon="fa-feather-alt"
url="/oferta/rozumienie-poezji-i-prozy"
text="
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis mi at elit dictum vestibulum.
    In posuere mi nec efficitur ultricies. Sed tincidunt, felis vel pharetra tincidunt, quam ex gravida lorem,
    sed congue odio libero vitae ex. </p>
"
%}

{% include service.html
title="Przygotowanie do szkoły aktorskiej"
icon="fa-graduation-cap"
url="/oferta/przygotowanie-do-szkoly-aktorskiej"
text="
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis mi at elit dictum vestibulum.
    In posuere mi nec efficitur ultricies. Sed tincidunt, felis vel pharetra tincidunt, quam ex gravida lorem,
    sed congue odio libero vitae ex. </p>
"
%}

{% include service.html
title="Zajęcia dla polskich dzieci mieszkających za granicą"
icon="fa-plane"
url="/oferta/zajecia-dla-polskich-dzieci-mieszkajacych-za-granica"
text="
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis mi at elit dictum vestibulum.
    In posuere mi nec efficitur ultricies. Sed tincidunt, felis vel pharetra tincidunt, quam ex gravida lorem,
    sed congue odio libero vitae ex. </p>
"
%}

{% include service.html
title="Zajęcia grupowe"
icon="fa-users"
url="/oferta/logopeda-zajecia-grupowe"
text="
Istnieje możliwość zamówienia szkolenia lub zajęć ze specjalnym programem, na szczególnych
warunkach dostosowanych do wymogów zamawiającego.
"
%}