<div class="col-md-4 col-sm-12 order-md-0 order-1">
    <h1 class="d-none d-md-block">Usługi</h1>
    <h1 class="d-block d-md-none">Pozostałe usługi</h1>
    <hr class="divider my-2">

    <nav class="nav flex-column">
        <a class="nav-link" href="/oferta/logopeda-dla-doroslych.html">Dla dorosłych</a>
        <a class="nav-link" href="/oferta/logopeda-dla-mlodziezy.html">Dla młodzieży</a>
        <a class="nav-link" href="/oferta/logopeda-dla-dzieci.html">Dla dzieci</a>
        <a class="nav-link" href="/oferta/logopedia-medialna.html">Logopedia medialna</a>
        <a class="nav-link" href="/oferta/rozumienie-poezji-i-prozy.html">Rozumienie poezji i prozy</a>
        <a class="nav-link" href="/oferta/przygotowanie-do-szkoly-aktorskiej.html">Przygotowanie do szkoły
            aktorskiej</a>
        <a class="nav-link" href="/oferta/zajęcia-dla-polskich-dzieci-mieszkajacych-za-granica.html">Dla
            dzieci mieszkających za granicą</a>
        <a class="nav-link" href="/oferta/logopeda-zajecia-grupowe.html">Zajęcia grupowe</a>
    </nav>
</div>