<h1 class="">Oferta</h1>
<hr class="divider divider-100 my-2">

<nav class="nav flex-column">
    <a class="nav-link" href="/oferta/logopeda-dla-doroslych">Dla dorosłych</a>
    <a class="nav-link" href="/oferta/logopeda-dla-mlodziezy">Dla młodzieży</a>
    <a class="nav-link" href="/oferta/logopeda-dla-dzieci">Dla dzieci</a>
    <a class="nav-link" href="/oferta/logopedia-medialna">Logopedia medialna</a>
    <a class="nav-link" href="/oferta/rozumienie-poezji-i-prozy">Rozumienie poezji i prozy</a>
    <a class="nav-link" href="/oferta/przygotowanie-do-szkoly-aktorskiej">Przygotowanie do szkoły
        aktorskiej</a>
    <a class="nav-link" href="/oferta/zajecia-dla-polskich-dzieci-mieszkajacych-za-granica">Dla
        dzieci mieszkających za granicą</a>
    <a class="nav-link" href="/oferta/logopeda-zajecia-grupowe">Zajęcia grupowe</a>
</nav>
