<!doctype html>
<html lang="en">

{% include head.html %}

<body id="page-top">

{% include nav.html nav-name="mainNav" %}

<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end title-div">
                <h1 class="title-size text-uppercase text-primary">Polski Logopeda</h1>
                <hr class="divider my-4">
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5">
                    Start Bootstrap can help you build better websites using the Bootstrap framework!
                    Just download a theme and start customizing, no strings attached!
                </p>
                <a class="btn btn-primary btn-xl js-scroll-trigger"
                   href="#offer">
                    Zapoznaj się z naszą ofertą
                </a>
            </div>
        </div>
    </div>
</header>

<section class="page-section" id="offer">
    <div class="container">
        <h1 class="text-center mt-0">Opis oferty</h1>
        <hr class="divider my-4">
        <div class="row">
            {% include service.html
            title="Dla dorosłych"
            icon="fa-user"
            url="/oferta/logopeda-dla-doroslych"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis mi at elit dictum vestibulum.
            In posuere mi nec efficitur ultricies. Sed tincidunt, felis vel pharetra tincidunt, quam ex gravida lorem,
            sed congue odio libero vitae ex."
            %}

            {% include service.html
            title="Dla młodzieży"
            icon="fa-comments"
            url="/oferta/logopeda-dla-mlodziezy"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis mi at elit dictum vestibulum.
            In posuere mi nec efficitur ultricies. Sed tincidunt, felis vel pharetra tincidunt, quam ex gravida lorem,
            sed congue odio libero vitae ex."
            %}

            {% include service.html
            title="Dla dzieci"
            icon="fa-child"
            url="/oferta/logopeda-dla-dzieci"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis mi at elit dictum vestibulum.
            In posuere mi nec efficitur ultricies. Sed tincidunt, felis vel pharetra tincidunt, quam ex gravida lorem,
            sed congue odio libero vitae ex."
            %}

            {% include service.html
            title="Logopedia medialna"
            icon="fa-tv"
            url="/oferta/logopedia-medialna"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis mi at elit dictum vestibulum.
            In posuere mi nec efficitur ultricies. Sed tincidunt, felis vel pharetra tincidunt, quam ex gravida lorem,
            sed congue odio libero vitae ex."
            %}

            {% include service.html
            title="Rozumienie poezji i prozy"
            icon="fa-feather-alt"
            url="/oferta/rozumienie-poezji-i-prozy"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis mi at elit dictum vestibulum.
            In posuere mi nec efficitur ultricies. Sed tincidunt, felis vel pharetra tincidunt, quam ex gravida lorem,
            sed congue odio libero vitae ex."
            %}

            {% include service.html
            title="Przygotowanie do szkoły aktorskiej"
            icon="fa-graduation-cap"
            url="/oferta/przygotowanie-do-szkoly-aktorskiej"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis mi at elit dictum vestibulum.
            In posuere mi nec efficitur ultricies. Sed tincidunt, felis vel pharetra tincidunt, quam ex gravida lorem,
            sed congue odio libero vitae ex."
            %}

            {% include service.html
            title="Zajęcia dla polskich dzieci mieszkających za granicą"
            icon="fa-plane"
            url="/oferta/zajecia-dla-polskich-dzieci-mieszkajacych-za-granica"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis mi at elit dictum vestibulum.
            In posuere mi nec efficitur ultricies. Sed tincidunt, felis vel pharetra tincidunt, quam ex gravida lorem,
            sed congue odio libero vitae ex."
            %}

            {% include service.html
            title="Zajęcia grupowe"
            icon="fa-users"
            url="/oferta/logopeda-zajecia-grupowe"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis mi at elit dictum vestibulum.
            In posuere mi nec efficitur ultricies. Sed tincidunt, felis vel pharetra tincidunt, quam ex gravida lorem,
            sed congue odio libero vitae ex."
            %}
        </div>

        <div class="row">
            <div class="col-sm-12 text-center">
                <hr class="divider my-4">
                <a class="btn btn-primary btn-xl js-scroll-trigger"
                   href="#services">
                    Poznaj formy zajęć
                </a>
            </div>
        </div>
    </div>
</section>

<section class="page-section bg-light" id="services">
    <div class="container">
        <h1 class="text-center mt-0">
            Dostępne formy zajęć logopedycznych
        </h1>
        <hr class="divider my-4">
        <div class="row post-list">
            {% include offer.html
            url="/zajecia/logopeda-lodz"
            title="Logopeda Łódź - Gabinet"
            image="shutterstock_1617508468.jpg"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis mi at elit dictum vestibulum.
            In posuere mi nec efficitur ultricies. Sed tincidunt, felis vel pharetra tincidunt, quam ex gravida lorem,
            sed congue odio libero vitae ex."
            %}


            {% include offer.html
            url="/zajecia/logopeda-online"
            title="Logopeda Online"
            image="shutterstock_275489732.jpg"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis mi at elit dictum vestibulum.
            In posuere mi nec efficitur ultricies. Sed tincidunt, felis vel pharetra tincidunt, quam ex gravida lorem,
            sed congue odio libero vitae ex."
            %}


            {% include offer.html
            url="/zajecia/logopeda-z-dojazdem"
            title="Logopeda z dojazdem"
            image="shutterstock_125020304.jpg"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis mi at elit dictum vestibulum.
            In posuere mi nec efficitur ultricies. Sed tincidunt, felis vel pharetra tincidunt, quam ex gravida lorem,
            sed congue odio libero vitae ex."
            %}
        </div>

        <div class="row">
            <div class="col-sm-12 text-center">
                <hr class="divider my-4">
                <a class="btn btn-primary btn-xl js-scroll-trigger"
                   href="#contact">
                    Skontaktuj się z nami
                </a>
            </div>
        </div>
    </div>
</section>

{% include contact.html background="" %}

{% include map.html %}

{% include footer.html %}

</body>
</html>
