<!doctype html>
<html lang="en">

{% include head.html %}

<body id="page-top">

{% include nav.html %}

<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-normal">Polski Logopeda</h1>
                <hr class="divider my-4">
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5">
                    Start Bootstrap can help you build better websites using the Bootstrap framework!
                    Just download a theme and start customizing, no strings attached!
                </p>
                <a class="btn btn-primary btn-xl js-scroll-trigger"
                   href="#about">
                    Dowiedz się więcej
                </a>
            </div>
        </div>
    </div>
</header>

<section class="page-section bg-light" id="about">
    <div class="container">
        <h1 class="text-center mt-0">
            Dostępne zajęcia logopedyczne
        </h1>
        <hr class="divider my-4">
        <div class="row post-list">
            {% include card.html
            title="Logopeda Łódź - Gabinet"
            image="stock-232333216.jpg"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis mi at elit dictum vestibulum. In posuere mi nec efficitur ultricies. Sed tincidunt, felis vel pharetra tincidunt, quam ex gravida lorem, sed congue odio libero vitae ex."
            %}


            {% include card.html
            title="Logopeda Online"
            image="shutterstock_275489732.jpg"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis mi at elit dictum vestibulum. In posuere mi nec efficitur ultricies. Sed tincidunt, felis vel pharetra tincidunt, quam ex gravida lorem, sed congue odio libero vitae ex."
            %}


            {% include card.html
            title="Logopeda z dojazdem"
            image="stock-631370564.jpg"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis mi at elit dictum vestibulum. In posuere mi nec efficitur ultricies. Sed tincidunt, felis vel pharetra tincidunt, quam ex gravida lorem, sed congue odio libero vitae ex."
            %}
        </div>
    </div>
</section>

<section class="page-section" id="services">
    <div class="container">
        <h1 class="text-center mt-0">Opis oferty</h1>
        <hr class="divider my-4">
        <div class="row">
            {% include offer.html
            title="Dla dorosłych"
            icon="fa-user"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis mi at elit dictum vestibulum. In posuere mi nec efficitur ultricies. Sed tincidunt, felis vel pharetra tincidunt, quam ex gravida lorem, sed congue odio libero vitae ex."
            %}

            {% include offer.html
            title="Dla młodzieży"
            icon="fa-comments"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis mi at elit dictum vestibulum. In posuere mi nec efficitur ultricies. Sed tincidunt, felis vel pharetra tincidunt, quam ex gravida lorem, sed congue odio libero vitae ex."
            %}

            {% include offer.html
            title="Dla dzieci"
            icon="fa-child"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis mi at elit dictum vestibulum. In posuere mi nec efficitur ultricies. Sed tincidunt, felis vel pharetra tincidunt, quam ex gravida lorem, sed congue odio libero vitae ex."
            %}

            {% include offer.html
            title="Logopedia medialna"
            icon="fa-tv"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis mi at elit dictum vestibulum. In posuere mi nec efficitur ultricies. Sed tincidunt, felis vel pharetra tincidunt, quam ex gravida lorem, sed congue odio libero vitae ex."
            %}

            {% include offer.html
            title="Rozumienie poezji i prozy"
            icon="fa-globe"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis mi at elit dictum vestibulum. In posuere mi nec efficitur ultricies. Sed tincidunt, felis vel pharetra tincidunt, quam ex gravida lorem, sed congue odio libero vitae ex."
            %}

            {% include offer.html
            title="Przygotowanie do szkoły aktorskiej"
            icon="fa-globe"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis mi at elit dictum vestibulum. In posuere mi nec efficitur ultricies. Sed tincidunt, felis vel pharetra tincidunt, quam ex gravida lorem, sed congue odio libero vitae ex."
            %}

            {% include offer.html
            title="Zajęcia dla polskich dzieci mieszkających za granicą"
            icon="fa-globe"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis mi at elit dictum vestibulum. In posuere mi nec efficitur ultricies. Sed tincidunt, felis vel pharetra tincidunt, quam ex gravida lorem, sed congue odio libero vitae ex."
            %}

            {% include offer.html
            title="Zajęcia grupowe"
            icon="fa-users"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis mi at elit dictum vestibulum. In posuere mi nec efficitur ultricies. Sed tincidunt, felis vel pharetra tincidunt, quam ex gravida lorem, sed congue odio libero vitae ex."
            %}
        </div>
    </div>
</section>

<!--{% include portfolio.html %}-->

{% include contact.html background="bg-light" %}

{% include map.html %}

{% include footer.html %}

</body>
</html>
