<!doctype html>
<html lang="en">

{% include head.html %}

<body id="page-top">
{% include nav.html nav-name='subNav' %}

<div class="page-section subpage-section subpage-margin bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="post-image mb-3">
                    <img
                            alt="Zdjęcie przedstawiające {{ page.meta-title }}"
                            src="/img/blog/1140/{{ page.image }}"
                            style="object-position: {{ page.hero-position }};"
                    />
                </div>
                <div class="post-title mb-3">
                    <h1 class="text-primary">{{ page.meta-title }}</h1>
                </div>
                <div class="post-content text-justify">
                    {{ content }}
                </div>
                <div class="mt-4 small post-footer text-right text-muted">
                    Grażyna Walasek, {{ page.date | date: "%Y-%m-%d" }}
                </div>
            </div>
        </div>
    </div>
</div>

{% include contact.html background="" %}

{% include map.html %}

{% include footer.html %}
<script>
    window.addEventListener("DOMContentLoaded", function () {
        $('nav a').filter(function () {
            return this.href.includes('blog');
        }).addClass('active');
    });
</script>
</body>
</html>
