<!doctype html>
<html lang="en">

{% include head.html %}

<body id="page-top">
{% assign act = page.dir | remove: "/" %}
{% include nav.html active=act nav-name='subNav' %}

<!--<div class="subpage-flag subpage-margin">-->
<!--</div>-->

<div class="page-section subpage-section subpage-margin bg-light" id="{{ act }}">

    <div class="container">
        <div class="row">
            <div class="col-lg-4 d-none d-lg-block sidemenu">
                {% include sidemenu-{{act}}.html %}
            </div>

            <div class="col-lg-8 col-md-12">
                <h1 class="">{{ page.title }}</h1>
                <hr class="divider divider-100 my-2">

                <div class="intro-pic mb-2">
                    <img src="/img/hero/730/{{ page.hero }}"
                         alt="Osoba przedstawiająca ofertę {{ page.title }}"
                         style="object-position: {{ page.hero-position }};"
                    />
                </div>

                <div class="text-content">
                    {{ content }}
                </div>
            </div>

        </div>
    </div>
</div>

{% include contact.html background="" %}

{% include footer.html %}
<script>
    var url = window.location;
    $('nav a').filter(function() {
        return this.href == url;
    }).addClass('active');


</script>
</body>
</html>
