#blog {

  a {
    color: $body-color;

    &:active, &:hover, &:focus {
      text-decoration: none;

      .icon {
        color: $primary;
      }
    }

    h2 {
      color: $primary;
      margin-bottom: 0;
    }
  }
}

#post {
  .post-content p {
    text-indent: 1.5em;
  }

  .post-image {
    img {
      width: 100%;
      max-height: 450px;
      object-fit: cover;
    }
  }
}

