// Styling for the masthead

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - #{$navbar-height});
    // replace the masthead.jpg image in the /assets/img directory to change the image
    // if the image name change, make sure to update the url path below!
    background:
        linear-gradient(
            to bottom,
            #{fade-out($dark, 0.15)} 0%,
            #{fade-out($dark, 0.15)} 100%
        ),
        url("/img/hero/orig/shutterstock_208347706.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

    .title-size {
        font-size: 3rem;
    }
    p {
        font-size: 1.2em;
    }

    @include media-breakpoint-up(lg) {
        height: 100vh;
        min-height: 40rem;
        padding-top: $navbar-height;
        padding-bottom: 0;
        p {
            font-size: 1.6em;
        }

        .title-size {
            font-size: 4rem;
        }

    }
    @include media-breakpoint-up(xl) {
        p {
            font-size: 1.8rem;
        }

        .title-size {
            font-size: 5rem;
        }
    }
}
