.subpage-margin {
    margin-top: 72px;
}

.subpage-flag {
    padding-bottom: 72px;
    background-color: $primary;
}

.subpage-section {

    hr.divider-100 {
        max-width: 100%;
    }

    .intro-pic{
        position: relative;

        .ratio-container {
            position: relative;
        }

        img {
            width: 100%;
            height: 20hw;
            max-height: 450px;
            object-fit: cover;
        }
    }

    nav {
        a.nav-link{
            color: $body-color;

            &:hover, &:active {
                color: $primary;
                @include gradient-bg($dropdown-link-hover-bg);
            }
            &.active {
                background-color: $primary;
                color: $white;
            }
        }
    }

    .sidemenu {
    }

    .text-content {
        text-align: justify;
        text-justify: inter-word;
    }

}